:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #000000ea;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
    --fadethingy: rgb(218, 218, 218);
    --darktext: #ececec;
    --shadowthingy: #707070;
    --btnbg: #f1f1f1;
    --padColor: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
}

.light {
    --bg: var(--gray0);
    --padColor: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
    --fadethingy: rgb(218, 218, 218);
    --shadowthingy: #707070;
    --btnbg: #f1f1f1;
}
  

.dark {
    --bg: var(--gray6);
    --bg-dropdown: var(--gray6);
    --text: var(--darktext);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
    --fadethingy: rgb(53, 53, 53);
    --shadowthingy: #636363;
    --btnbg: #12181b;
    --padColor: linear-gradient(315deg, #161616 0%, #131313 74%);
    .settingIcon{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

body{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
    .dropdown{
        transition: 0.2s;
    }
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    @media (min-width: 1201px) {
        .dropdown {
            display: none;
        }
    }
    @media screen and (max-width: 1200px) {
        .level-card{
            width: 70vw;
        }
        .level-profile {
            margin-top: 10px;
            transform: translateY(-100%);
        }
        .mainpanel1{
            margin-top: 30px;
        }
        .navbar{
            padding-left: 2em;
            padding-right: 2em;
            .navbarTitle{
                font-size: 12px;
                padding-left: 1vw;
                padding-right: 1vw;
            }
        }
        .navbarIcon{
            justify-content: flex-end;
            width: 3em;
        }
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items:center;
            .mainpanel{
                margin-top: 40px;
                text-align: center;
                width: 92vw;
                order: 1;
            }
            .panel{
                margin-top: 40px;
                order: 2;
            }
            .topPlayerPanel{
                margin-top: 0px;
                width: 92vw;
                .topPlayerPanelContent{
                    justify-content: center;
                }
            }
            .MainListPanel{
                width: 92vw;
                .MainListPanelContent{
                    justify-content: center;
                }
            }
            .submitPanel{
                width: 92vw;
            }
            .joinDiscordPanel{
                width: 92vw;
            }
            .changelogPanel{
                width: 92vw;
            }
            .panel1{
                margin-top: 40px;
                order: 3;
            }
        }
        .navbar{
            ul{
                a{
                    display: none;
                }
            }
        }
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: var(--text);
    }
    .longline{
        width: 50%;
    }
}

.navbarIcon{
    display: flex;
    .settingIcon{
        height: 25px;
        width: 25px;
        margin-right: 4px;
        margin-top: 3px;
        padding: 6px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 0.5em;
        transition: 0.2s;
    }
    /*.accountIcon{
        height: 30px;
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        padding: 5px;
        border-radius: 0.5em;
        transition: 0.2s;
    }*/
}
.settingIcon:hover{
    background-color:rgb(218, 218, 218);
}
//.accountIcon:hover{
//    background-color: var(--fadethingy);
//}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    height: 45px;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    background: var(--padColor);
    ul{
        display: flex;
        margin-right: 7em;
        a{
            padding: 10px;
            border-radius: 0.5em;
            transition: 0.2s;
        }
        a:hover{
            background-color: var(--fadethingy);
        }
    }
    .navbarTitle{
        justify-content: left;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        border-radius: 0.5em;
        transition: 0.2s;
    }
    .navbarTitle:hover{
        background-color: var(--fadethingy);
    }
}
.content{
    display: flex;
}
.panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 200px;
}
.topPlayerPanel{
    background: var(--padColor);
    text-align: center;
    width: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    .topPlayerPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
    .topPlayerPanelContent{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        align-items: center;
        .topplayer{
            margin-left: 10px;
        }
    }
    .tp{
        margin-left: 15px;
        float:left;
    }
    .point{
        margin-right: 15px;
        float:right;
    }
}
hr{
    display: block;
    color:black;
    width: 230px;
}
.MainListPanel{
    background: var(--padColor);
    margin-top: 40px;
    text-align: center;
    width: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    .MainListPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
    .MainListPanelContent{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        align-items: center;
        .mainlist{
            margin-left: 10px;
        }
    }
    .ml{
        margin-left: 15px;
        float:left;
    }
    .point1{
        margin-right: 15px;
        float:right;
    }
}
hr{
    display: block;
    color:black;
    width: 230px;
}
.mainpanel{
    background: var(--padColor);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: 100%;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    transition: all 0.2s ease-in;
    .topPlayTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}
.panel1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-top: 200px;
}
.submitPanel{
    background: var(--padColor);
    display: grid;
    place-items: center;
    text-align: center;
    width: 300px;
    height: 90px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    .submitTitle{
        width: 50%;
        border-radius: 0.5em;
        padding: 10px;
        font-size: 20px;
        transition: 0.2s;
    }
    .submitTitle:hover{
        background-color: var(--fadethingy);
    }
}
.joinDiscordPanel{
    background: var(--padColor);
    margin-top: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    .joinDiscordPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}
.changelogPanel{
    background: var(--padColor);
    margin-top: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    .changelogPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}

/* Dropdown Button */
.dropbtn {
    transition: 0.2s;
    margin-top: 3px;
    border-radius: 0.5em;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: var(--text);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    transition: 0.2s;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    border-radius: 0.5em;
    display: none;
    position: absolute;
    color: var(--text);
    background-color: var(--btnbg);
    min-width: 160px;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    z-index: 1;
    transition: 0.2s;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: --text;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--fadethingy);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: var(--fadethingy);}
/**/
.level-card {
    width: 40vw;
    border: 1px solid #777;
    border-radius: 10px;
    margin: 0 auto;
    padding: 3vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .level-images {
        padding-right: 10px;
        
    }
    .level-profile {
        border: 1px solid #333;
        border-radius: 50%;
        transform: translateY(-100%);
    }

    .level-thumbnail {
        aspect-ratio: 16/9;
        padding: 10px;
        width: 240px;
        height: 135px;
        border-radius: 1em;
    }
}
.spacetop{
    margin-top: 40px;
}
.spacebottom{
    margin-bottom: 40px;
}

//mainpanel visibility
.mainpanelHidden{
    transition: all 0.2s ease-in;
    opacity: 0;
}
.mainpanelNone{
    display: none;
}
#ghost{
    position: absolute;
}