@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  body .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
  body .navbar .navbarTitle {
    font-size: 12px;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  body .navbarIcon {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 80px;
  }
  body .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  body .content .mainpanel {
    margin-top: 40px;
    text-align: center;
    width: 92vw;
    order: 1;
  }
  body .content .panel {
    margin-top: 0px;
    order: 2;
  }
  body .content .topPlayerPanel {
    margin-top: 0px;
    width: 92vw;
  }
  body .content .topPlayerPanel .topPlayerPanelContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content .MainListPanel {
    width: 92vw;
  }
  body .content .MainListPanel .MainListPanelContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content .submitPanel {
    width: 92vw;
  }
  body .content .joinDiscordPanel {
    width: 92vw;
  }
  body .content .changelogPanel {
    width: 92vw;
  }
  body .content .panel1 {
    margin-top: 40px;
    order: 3;
  }
  body .navbar ul a {
    display: none;
  }
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: black;
  text-shadow: 0 0 1em #dbdbdb;
}

body .longline {
  width: 50%;
}

.navbarIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarIcon .settingIcon {
  height: 23px;
  width: 40px;
  margin-right: 4px;
  padding: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbarIcon .accountIcon {
  height: 30px;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.settingIcon:hover {
  background-color: #dadada;
}

.accountIcon:hover {
  background-color: #dadada;
}

.navbar {
  padding-left: 4px;
  padding-right: 4px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul a {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar ul a:hover {
  background-color: #dadada;
}

.navbar .navbarTitle {
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .navbarTitle:hover {
  background-color: #dadada;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 200px;
}

.topPlayerPanel {
  text-align: center;
  width: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.topPlayerPanel .topPlayerPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.topPlayerPanel .topPlayerPanelContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topPlayerPanel .topPlayerPanelContent .topplayer {
  margin-left: 10px;
}

.topPlayerPanel .tp {
  margin-left: 15px;
  float: left;
}

.topPlayerPanel .point {
  margin-right: 15px;
  float: right;
}

hr {
  display: block;
  color: black;
  width: 230px;
}

.MainListPanel {
  margin-top: 40px;
  text-align: center;
  width: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.MainListPanel .MainListPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.MainListPanel .MainListPanelContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainListPanel .MainListPanelContent .mainlist {
  margin-left: 10px;
}

.MainListPanel .ml {
  margin-left: 15px;
  float: left;
}

.MainListPanel .point1 {
  margin-right: 15px;
  float: right;
}

hr {
  display: block;
  color: black;
  width: 230px;
}

.mainpanel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.mainpanel .topPlayTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.panel1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 200px;
}

.submitPanel {
  text-align: center;
  width: 300px;
  height: 150px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.submitPanel .submitTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.joinDiscordPanel {
  margin-top: 40px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.joinDiscordPanel .joinDiscordPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.changelogPanel {
  margin-top: 40px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 1em #707070;
          box-shadow: 0em 0em 1em #707070;
}

.changelogPanel .changelogPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */