body{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    @media screen and (max-width: 1200px) {
        .navbar{
            padding-left: 10%;
            padding-right: 10%;
            .navbarTitle{
                font-size: 12px;
                padding-left: 1vw;
                padding-right: 1vw;
            }
        }
        .navbarIcon{
            justify-content: flex-end;
            width: 80px;
        }
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items:center;
            margin-top: 40px;
            .mainpanel{
                margin-top: 40px;
                text-align: center;
                width: 92vw;
                order: 1;
            }
            .panel{
                margin-top: 40px;
                order: 2;
            }
            .topPlayerPanel{
                margin-top: 0px;
                width: 92vw;
                .topPlayerPanelContent{
                    justify-content: center;
                }
            }
            .MainListPanel{
                width: 92vw;
                .MainListPanelContent{
                    justify-content: center;
                }
            }
            .submitPanel{
                width: 92vw;
            }
            .joinDiscordPanel{
                width: 92vw;
            }
            .changelogPanel{
                width: 92vw;
            }
            .panel1{
                margin-top: 40px;
                order: 3;
            }
        }
        .navbar{
            ul{
                a{
                    display: none;
                }
            }
        }
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-shadow: 0 0 1em #dbdbdb;
    }
    .longline{
        width: 50%;
    }
}

.navbarIcon{
    .settingIcon{
        height: 23px;
        width: 40px;
        margin-right: 4px;
        padding: 7px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 0.5em;
        transition: 0.2s;
    }
    /*.accountIcon{
        height: 30px;
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        padding: 5px;
        border-radius: 0.5em;
        transition: 0.2s;
    }*/
}
.settingIcon:hover{
    background-color: rgb(218, 218, 218);
}
//.accountIcon:hover{
//    background-color: rgb(218, 218, 218);
//}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    height: 45px;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    ul{
        display: flex;
        margin-right: 7em;
        a{
            padding: 10px;
            border-radius: 0.5em;
            transition: 0.2s;
        }
        a:hover{
            background-color: rgb(218, 218, 218);
        }
    }
    .navbarTitle{
        justify-content: left;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        border-radius: 0.5em;
        transition: 0.2s;
    }
    .navbarTitle:hover{
        background-color: rgb(218, 218, 218);
    }
}

.content{
    display: flex;
}
.panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 200px;
}
.topPlayerPanel{
    text-align: center;
    width: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    .topPlayerPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
    .topPlayerPanelContent{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        align-items: center;
        .topplayer{
            margin-left: 10px;
        }
    }
    .tp{
        margin-left: 15px;
        float:left;
    }
    .point{
        margin-right: 15px;
        float:right;
    }
}
hr{
    display: block;
    color:black;
    width: 230px;
}
.MainListPanel{
    margin-top: 40px;
    text-align: center;
    width: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    .MainListPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
    .MainListPanelContent{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        align-items: center;
        .mainlist{
            margin-left: 10px;
        }
    }
    .ml{
        margin-left: 15px;
        float:left;
    }
    .point1{
        margin-right: 15px;
        float:right;
    }
}
hr{
    display: block;
    color:black;
    width: 230px;
}
.mainpanel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: 100%;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    .topPlayTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}
.panel1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-top: 200px;
}
.submitPanel{
    text-align: center;
    width: 300px;
    height: 150px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    .submitTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}
.joinDiscordPanel{
    margin-top: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    .joinDiscordPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}
.changelogPanel{
    margin-top: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 1em #707070;
    .changelogPanelTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}


