@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap");
:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  --fadethingy: rgb(218, 218, 218);
  --darktext: #ececec;
  --shadowthingy: #707070;
  --btnbg: #f1f1f1;
}

.light {
  --bg: var(--gray0);
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
  --fadethingy: rgb(218, 218, 218);
  --shadowthingy: #707070;
  --btnbg: #f1f1f1;
}

.dark {
  --bg: var(--gray6);
  --bg-dropdown: var(--gray6);
  --text: var(--darktext);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
  --fadethingy: rgb(53, 53, 53);
  --shadowthingy: #636363;
  --btnbg: #12181b;
}

.dark .settingIcon {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--text);
  background: var(--bg);
  -webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

body .dropdown {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 1201px) {
  body .dropdown {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  body .level-card {
    width: 70vw;
  }
  body .level-profile {
    margin-top: 10px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  body .mainpanel1 {
    margin-top: 30px;
  }
  body .navbar {
    padding-left: 2em;
    padding-right: 2em;
  }
  body .navbar .navbarTitle {
    font-size: 12px;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  body .navbarIcon {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 3em;
  }
  body .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content .mainpanel {
    margin-top: 40px;
    text-align: center;
    width: 92vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .content .panel {
    margin-top: 40px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body .content .topPlayerPanel {
    margin-top: 0px;
    width: 92vw;
  }
  body .content .topPlayerPanel .topPlayerPanelContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content .MainListPanel {
    width: 92vw;
  }
  body .content .MainListPanel .MainListPanelContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content .submitPanel {
    width: 92vw;
  }
  body .content .joinDiscordPanel {
    width: 92vw;
  }
  body .content .changelogPanel {
    width: 92vw;
  }
  body .content .panel1 {
    margin-top: 40px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body .navbar ul a {
    display: none;
  }
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: var(--text);
}

body .longline {
  width: 50%;
}

.navbarIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*.accountIcon{
        height: 30px;
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        padding: 5px;
        border-radius: 0.5em;
        transition: 0.2s;
    }*/
}

.navbarIcon .settingIcon {
  height: 25px;
  width: 25px;
  margin-right: 4px;
  margin-top: 3px;
  padding: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.settingIcon:hover {
  background-color: #dadada;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
  background: var(--bg-nav);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7em;
}

.navbar ul a {
  padding: 10px;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar ul a:hover {
  background-color: var(--fadethingy);
}

.navbar .navbarTitle {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .navbarTitle:hover {
  background-color: var(--fadethingy);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 200px;
}

.topPlayerPanel {
  text-align: center;
  width: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
}

.topPlayerPanel .topPlayerPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.topPlayerPanel .topPlayerPanelContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topPlayerPanel .topPlayerPanelContent .topplayer {
  margin-left: 10px;
}

.topPlayerPanel .tp {
  margin-left: 15px;
  float: left;
}

.topPlayerPanel .point {
  margin-right: 15px;
  float: right;
}

hr {
  display: block;
  color: black;
  width: 230px;
}

.MainListPanel {
  margin-top: 40px;
  text-align: center;
  width: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
}

.MainListPanel .MainListPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.MainListPanel .MainListPanelContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainListPanel .MainListPanelContent .mainlist {
  margin-left: 10px;
}

.MainListPanel .ml {
  margin-left: 15px;
  float: left;
}

.MainListPanel .point1 {
  margin-right: 15px;
  float: right;
}

hr {
  display: block;
  color: black;
  width: 230px;
}

.mainpanel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
}

.mainpanel .topPlayTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.panel1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 200px;
}

.submitPanel {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  width: 300px;
  height: 90px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
}

.submitPanel .submitTitle {
  width: 50%;
  border-radius: 0.5em;
  padding: 10px;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submitPanel .submitTitle:hover {
  background-color: var(--fadethingy);
}

.joinDiscordPanel {
  margin-top: 40px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
}

.joinDiscordPanel .joinDiscordPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

.changelogPanel {
  margin-top: 40px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
}

.changelogPanel .changelogPanelTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 3px;
  border-radius: 0.5em;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: var(--text);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 0.5em;
  display: none;
  position: absolute;
  color: var(--text);
  background-color: var(--btnbg);
  min-width: 160px;
  -webkit-box-shadow: 0em 0em 0.5em var(--shadowthingy);
          box-shadow: 0em 0em 0.5em var(--shadowthingy);
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: --text;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--fadethingy);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--fadethingy);
}

/**/
.level-card {
  width: 40vw;
  border: 1px solid #777;
  border-radius: 10px;
  margin: 0 auto;
  padding: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.level-card .level-images {
  padding-right: 10px;
}

.level-card .level-profile {
  border: 1px solid #333;
  border-radius: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.level-card .level-thumbnail {
  aspect-ratio: 16/9;
  padding: 10px;
  width: 240px;
  height: 135px;
  border-radius: 1em;
}

.spacetop {
  margin-top: 40px;
}

.spacebottom {
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */