:root {
    --shadowthingy: #707070;
}

.light {
    --shadowthingy: #707070;
}
  

.dark {
    --shadowthingy: #636363;
}
@media screen and (max-width: 1200px) {
    .mainpanel1{
        margin-top: 40px;
    }
    .h{
        padding-right: 8vw;
    }
}
.mainpanel1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 10px;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em var(--shadowthingy);
    .topPlayTitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
    }
}
.google-form {
    border: 2px solid #777;
    border-radius: 10px;
    width: 80vw;
    height: 500px;
}

.left-align {
    text-align: left;
}

.left-align > li {
    padding: 5px;
}